{% extends 'base.html' %}

{% block content %}
<h2>Alle Telegramme</h2>
<h1> {{ object_list.last.timestamp }} </h1>
<h1> {{object_list.last.msg}}</h1>
<ul>
    
    {% for telegramme in object_list reversed %}
    <li><a href="{% url 'telegramme_detail' telegramme.pk %}">{{ telegramme.pk }} {{ telegramme.protocol }} {{ telegramme.timestamp }} {{telegramme.msg}} </a></li>
    {% endfor %}
</ul>
<a class="btn btn-success btn-sm" href="#">+ Neue Adresse hinzufügen</a>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript" language="javascript">
    window.setTimeout(function () {
    location.href = "{% url 'telegramme_start' %}";
}, 5000); // refresh/redirect after 5 seconds.
    </script>

{% endblock content %}
